In [1]:
from pathlib import Path
import pandas as pd

In [2]:
excel_file_name = "supermarket_sales.xlsx"
excel_pivot_table = "supermarket_sales_pivot_table.xlsx"
CURRENT_FOLDER = Path(globals()['_dh'][0])

EXCEL_FILE = CURRENT_FOLDER / excel_file_name

In [3]:
df = pd.read_excel(str(EXCEL_FILE))

In [4]:
# Reduce dataframe columns
df = df[['Gender', 'Product line', 'Total']]

In [5]:
pivot_table = df.pivot_table(index='Gender', columns='Product line', values='Total', aggfunc='sum')
pivot_table

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0225,30437.400,33170.9175,18560.9865,30036.8775,28574.7210
Male,27235.5090,23868.495,22973.9265,30632.7525,23825.0355,26548.1055

# Create new excel pivot table file

In [6]:
# pivot_table.to_excel(excel_pivot_table)